# Xcode
build/
*.xcuserdata
*.xcscmblueprint
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# Firebase
StickerBoard/GoogleService-Info.plist

# Misc
*.swp
*~
